.benefitsSection {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}

.controlsAndTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.imagesContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 18px;
}

.title {
  font-size: 1.6rem;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.benefitBox {
  width: 413px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.benefitBox:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hover 시 약간의 그림자 추가 */
}

.imageContainer {
  width: 100%;
  height: 240px;
}

.benefitImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textContainer {
  padding: 10px;
  text-align: start;
  background-color: #f5f8fc;
  padding: 12px;
  min-height: 40px;
}

.benefitTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.benefitTitleText {
  font-size: 1.2rem;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.2s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 85%;
}

.benefitTitleIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.benefitBox:hover .benefitTitle {
  color: #006ae2;
}

.accordionContent {
  background-color: #f5f8fc;
}

.accordionContent > div {
  margin-bottom: 8px;
}

.gridSummary {
  margin-top: 14px;
  font-size: 1rem;
  color: #141414;
  margin-bottom: 12px;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.gridFieldTag {
  display: inline-block;
  background-color: #e8eef8;
  color: #1b55bd;
  padding: 3px 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.applicationDead,
.applicationWay {
  font-size: 0.9rem;
  color: #707070;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 5px;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pageIndicator {
  display: flex;
  align-items: center;
  margin-right: 10px;
  gap: 4px;
}

.currentPage {
  color: #006ae2;
}

.buttons {
  width: 84px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: 1px solid #bdbdbd;
  border-radius: 50px;
  background-color: #f4f4f4;
}

.navButton {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.navButton:hover {
  color: #000;
}

.CaretLeft,
.CaretRight {
  width: 15px;
  height: 15px;
}

.separator {
  height: 16px;
  width: 1px;
  background-color: #d9d9d9;
}

.pauseButton {
  background-color: transparent;
  border: none;
  font-size: 15px;
  color: #333;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-left: 2px;
  padding-right: 4px;
}
