.gridItem {
  width: 305px;
  height: 420px;
  border: 1px solid #d7d7d8;
  border-radius: 12px;
  padding: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d7d7d8;
  border-radius: 12px;
  padding: 30px;
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 100%;
  height: 160px;
}

.listItem .contentContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.listItem .tagAndTitle {
  width: 28%;
  padding-right: 40px;
}

.listItem .title {
  font-size: 1.3rem;
}

.listItem .details {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 62%;
}

.listItem .summary {
  font-size: 1rem;
  color: #707070;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 70%;
}

.listItem .fieldTag {
  display: inline-block;
  background-color: #e8eef8;
  color: #1b55bd;
  padding: 3px 8px;
  border-radius: 5px;
  white-space: nowrap;
}

.listItem .applicationDead,
.listItem .applicationWay {
  font-size: 0.9rem;
  color: #707070;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2;
  width: 100px; /* 너비를 늘려 두 줄로 나눌 수 있게 함 */
}

.tag {
  font-size: 15px;
  color: #1b55bd;
  border: 1px solid #1b55bd;
  margin-bottom: 14px;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 5px;
}

.title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #141414;
  margin-bottom: 20px;
  min-height: 60px;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.summary {
  font-size: 1rem;
  color: #141414;
  margin-bottom: 16px;
  min-height: 56px;
  line-height: 1.2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.fieldTag {
  display: inline-block;
  background-color: #e8eef8;
  color: #1b55bd;
  padding: 3px 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.applicationDead {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 8px;
}

.applicationWay {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 30px;
}

.detailButton {
  background-color: #adcff2;
  color: white;
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  align-self: center;
}

.detailButton:hover {
  background-color: #7bb9ea;
}
