@import "../../styles/variables.module.css";

.createBoard {
  max-width: 955px;
  margin: 0 auto;
  border-radius: 8px;
}

.category {
  text-align: right;
  margin-bottom: 20px;
  color: #999;
}

.formGroup {
  margin-bottom: 20px;
  width: 955px;
}

.title,
.content {
  font-size: 20px;
}

.titleInput {
  width: 935px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formGroup2 {
  height: 400px;
  width: 100%;
}

.quill {
  height: 300px;
}

.fileLabel {
  font-size: 16px;
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.fileInput {
  width: 935px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submitButton {
  width: 100%;
  padding: 12px;
  font-size: 16px;
}
