:root {
  --primary-color: #adcff2;
  --primary-text-color: #fff;
}

.layoutContainer {
  display: flex;
  justify-content: center;
}

.contentContainer {
  width: 1280px;
  min-height: 1047px;
  display: flex;
  margin: 0 auto;
}

.sidebarWrapper {
  flex: 1;
  min-width: 200px;
}

.mainContent {
  flex: 3;
  padding-left: 20px;
}

.serviceHeader h1 {
  font-size: 24px;
}

.serviceHeader p {
  font-size: 16px;
}

.infoTable {
  width: calc(100% - 40px);
  margin-bottom: 10px;
}

.infoTable th,
.infoTable td {
  padding: 10px;
}

.infoTable th {
  background-color: #f8f8f8;
}

.buttonWrapper {
  display: flex;
  justify-content: center; /* Center the button */
}

.applyButton {
  margin-top: 20px;
}

.tabNavigation {
  display: flex;
  justify-content: space-around; /* Center tabs */
  margin-top: 20px;
}

.tabNavigation button {
  background-color: transparent;
}

.activeTab {
  border-bottom: solid var(--primary-color) thick;
}

.tabContent p {
 margin-top :10px; 
}

/* Responsive adjustments */
@media (max-width:1280px) { 
    .contentContainer { 
        width :100%; 
        padding :0 
    } 

    .mainContent { 
        width :100% 
    } 
}
