.pageContainer {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentWrap {
  flex: 1;
  display: flex;
  justify-content: center;
}

.newsListContainer {
  padding: 20px;
  margin-bottom: 120px;
  margin-top: 20px;
  flex-grow: 1;
}

.newsTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 60px;
}

.newsTable th,
.newsTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.newsTable th {
  background-color: #f2f2f2;
}

.searchBar {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.searchForm {
  display: flex;
  align-items: center;
}

.searchBar {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.searchButton img {
  width: 30px; /* 아이콘 크기 조정 */
  height: auto;
}
